<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsCallPcf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--prod-->
    <!--<add name="EntitiesEproc" connectionString="metadata=res://*/eProcModel.csdl|res://*/eProcModel.ssdl|res://*/eProcModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;;DATA SOURCE=ygxUFkv5O1cXr2IFduB23pOBMuMC2kKd+iWlG6i3X4g=;PASSWORD=GoZOnw2e/FTPcFsg4/x7ZA==;PERSIST SECURITY INFO=true;Connection Timeout=600; Max Pool Size=150;USER ID=GoZOnw2e/FTPcFsg4/x7ZA==&quot;" providerName="System.Data.EntityClient" />-->
    <!--uat-->
    <add name="EntitiesCas" connectionString="provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;;DATA SOURCE=/471IaUm8FpQdbOqSd1naosDJiQ+tGYoqFVuIA7IQIc=;PASSWORD=QbpGL4fbDS/5BUm5odlmrQ==;PERSIST SECURITY INFO=true;Connection Timeout=600; Max Pool Size=150;USER ID=61Olgl9cHzNDeNX3FqQE6Q==&quot;" providerName="System.Data.EntityClient" />
    <!--reg-->
    <add name="EntitiesBpm" connectionString="provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;;DATA SOURCE=/471IaUm8FpQdbOqSd1naosDJiQ+tGYoqFVuIA7IQIc=;PASSWORD=QbpGL4fbDS/5BUm5odlmrQ==;PERSIST SECURITY INFO=true;Connection Timeout=600; Max Pool Size=150;USER ID=61Olgl9cHzNDeNX3FqQE6Q==&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="PcfToken" value="12345"/>
    <!--Reharsal : 0809894444 ; UAT : 12345-->
    <add key="EmailFrom" value="AUWScheduler@manulife.com"/>
    <!--please do not multiple sender and do not use titik koma (;)-->
    <add key="EmailTo" value="Muhammad_Iqdam@manulife.com;"/>
    <!--please use titik koma (;) in the end-->
    <add key="EmailCc" value="Hamka_Irama@manulife.com;"/>
    <!--please use titik koma (;) in the end-->
    <add key="EmailSubject" value="AutoRunning AUW PCF services Scheduler"/>
    <add key="FileQueryLoc" value="D:\QueryString.txt"/>
    <add key="DataNotFound" value="Data tidak ditemukan"/>
    <add key="FileQueryBpmLoc" value="D:\QueryStringBpm.txt"/>
  </appSettings>
  <applicationSettings>
    <ConsCallPcf.My.MySettings>
      <setting name="ConsCallPcf_PCFServiceModel_PCFService" serializeAs="String">
        <value>http://10.244.33.13:80/PCF_Service_UAT/PCFService.svc</value>
      </setting>
      <setting name="ConsCallPcf_EmailServiceModel_MessageService"
        serializeAs="String">
        <value>http://mliprd75:8081/notification/MessageService.svc</value>
      </setting>
    </ConsCallPcf.My.MySettings>
  </applicationSettings>
</configuration>
